<div class="header" style="background-color: #07071c;">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="scrollmenu">
          <a href="/">Inicio</a>
          <a href="https://csoftmty.org/" target="_blank">CSoftMty</a>
        </div>
      </div>
    </div>
  </div>
</div>
