div.scrollmenu { 
    background-color: #07071c; 
    overflow: auto; 
    white-space: nowrap; 
} 

div.scrollmenu a { 
    display: inline-block; 
    color: #ce5c35;
    text-align: center; 
    padding: 14px; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
} 

div.scrollmenu a:hover { 
    background-color: #777; 
}
