.header a { 
    display: inline-block; 
    color: #ce5c35;
    text-align: center; 
    padding: 14px; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
} 

.header a:hover { 
    background-color: #777; 
}
