<html>
<body>
    <h1>Servicios</h1>

    <div>
        {{#each servicios}}
            <div style="border: 1px solid black; padding: 10px;">
                <h2>Nombre: {{this.nombre}}</h2>
                <img src="/img/servicios/{{this.icono}}">
            </div>
        {{/each}}
    </div>
</body>
</html>
